{% sw_extends '@Storefront/storefront/base.html.twig' %}

{% block base_header_inner %}
	<div class="d-flex p-3 justify-content-center">
		<i class="fa-solid fa-truck fa-xl" style="color: #1a5fb4;"></i>
	</div>
	{{ parent() }}
{% endblock %}
